body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 15em;
  align-self: center;
}
.barra {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo" "seccion";
  margin: 0 1em;
}
.lista {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  justify-content: end;
  border: 0;
  padding: 0;
}
.lista li {
  color: black;
  list-style: none;
  text-decoration: none;
}
.lista a {
  text-decoration: none;
  color: black;
}
.lista a:hover {
  color: #ff5a19ff;
}
.sobre-nosotros {
  background: url(imagenes/sun-tornado.webp);
  background-color: whitesmoke;
  padding: 50px 0px 0px 0px;
  background-size: auto 200%;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: right top;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'caja' 'texto';
  
}
.imagen-caja {
  grid-area: 'caja';
  align-self: center;
  justify-self: center;
}
.imagen-caja img {
  width: 30em;
  transition: ease-in-out 1s;
}
.imagen-caja img:hover {
  transform: scale(1.1);
  transition: ease-in-out 1s;
}
.contenido {
  margin-right: 2em;
  margin-left: 5em;
  text-align:justify;
  grid-area: 'texto';
  color: black;
}
.contenido p {
  font-size: 1rem;
}
